.hidden {
    opacity: 0;
}

#buttons {
    padding: 25px;
    text-align: center;
}

.bubbles > .svg-container {
    text-align:center;
}

.bubbles {
    display: flex;
    flex-direction: column-reverse;
}

.chart-container.bubbles {
    min-height: 800px;
}

#tooltip {	
    position: absolute;			
    text-align: center;			
    height: 28px;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.bubbles circle:hover {
    transition: 300ms opacity;
    opacity: 0.6;
}

.bubbles.topics {
    min-height: 1000px;
}